@using System.Security.Claims;
@model WebApplication3.Persistence.Models.App

@{
    ViewData["Title"] = "Details";
}

<h1>Описание приложения</h1>
<div class="row mb-2">

    <div class="border-end col-md-2">
        <img class="card-img-left flex-auto d-none d-md-block" style="width: 200px; height: 250px;" src="data:image/png;base64,@Model.Logo">
    </div>
    <div class="col-md-8 align-items-start">
        <h3 class="mb-0">
            @Model.Name
        </h3>
        <p class="card-text mb-auto">@Model.Description</p>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Screenshots.Count; i++)
                {
                    if (i == 0)
                    {
                        <div class="carousel-item active">
                            <img src="data:image/png;base64, @Model.Screenshots[i].Base64" class="d-block w-100">
                        </div>
                    }
                    else
                    {

                        <div class="carousel-item">
                            <img src="data:image/png;base64, @Model.Screenshots[i].Base64" class="d-block w-100">
                        </div>
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-md-2 align-items-center border-start">
        <p class="lead text-muted">Понравилось приложение?</p>
        <a download href="@Model.DownloadLink" class="btn btn-success">Скачать</a>
    </div>
</div>


<div class="btn-group">
    <a class="btn btn-sm btn-outline-dark" asp-action="Index">Вернуться к списку приложений</a>
    @if (User.Identity.IsAuthenticated && ((ClaimsIdentity)User.Identity).Claims
    .FirstOrDefault(c => c.Type == ClaimTypes.Role).Value == "Admin")
    {
        <a class="btn btn-sm btn-outline-dark" asp-action="Edit" asp-route-id="@Model?.Id">Редактировать приложение</a>
    }
</div>
